# Node
node_modules/
npm-debug.log
yarn-error.log

# Build
dist/
www/
out-tsc/

# Angular
.angular/
.angular/cache

# Ionic
.ionic/

# Capacitor
android/
ios/

# IDEs
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db